#meny {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 85%;
background: url("ducatilogo.jpg"); background-size: 100%; background-repeat: no-repeat;
}


ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: arial;
}
ul li {
    float: left;
    width: 20%;
    height: 60px;
    background-color: darkgrey;
    opacity: .8;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}
ul li a{
    text-decoration-line: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: white;
    color: darkred;
}

