img {
    animation: gaaTur 12s linear infinite;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 10%;
    bottom: 15%;
}
@keyframes gaaTur {
    0% { bottom: 15%; left: 0%;transform: rotate(0deg);}
    25% { bottom: 15%; left: 90%;transform: rotate(-90deg);}
    50% {bottom: 64%; left: 90%; transform: rotate(-180deg);}
    75% {bottom: 64%; left: 0%; transform: rotate(-270deg);}
    100% {bottom: 15%; left: 0%; transform: rotate(-360deg);}
}
   




