@media print {
    figure {
      page-break-inside: avoid;
    }
    article {
      page-break-after: always;
    }
    button, .menu {
      display: none;
    }
    h1,h2,h3,h4,h5,h6 {
      page-break-after: avoid;
    }
  }

  #menu {
      position: absolute;
      top: 0;
      width: 100%;
      height: 30px;
      left: 0;
      background-color: blue;
  }