.sikkerhet {
    width: 300px;
    min-height: 300px;
    margin-left: 30px;
}

#main{
    display: flex;
    font-family: arial;
}
#vektor{
    position: absolute;
    bottom: 10%;
    left: 10%;
}
#frame {
    
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: calc(950px * 3);
    height: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    animation: slideshow 10s steps(3) infinite;
   
}




@keyframes slideshow {
    100% {left:-3000px;}
}

#box {
    position: absolute;
    top: 500px;
    left: 30%;
    border: solid black 2px;
    background-color: white;
    width: 950px;
    height: 640px;
    position: relative;
    overflow: hidden;
}
