#title {
    position: absolute; top: 0; width: 100%; left: 0;height: 15%;
    background: url("ducati3.jpg"); background-repeat: no-repeat;
    background-size: 100%;
    color: red; text-shadow: 1px 1px grey;
    font-family: arial;
    padding: 10px;
    text-decoration-line: none;
}
h1 a{
text-decoration-line: none;
color: red;
}
#menu {
    position: absolute; top: 18%; left: 0; width: 10%; height: 68%;
    background-color: darkgray;
opacity: .9;
}
#innhold {
    overflow-y: scroll;
    position: absolute; top: 18%; left: 10%; width: 90%; height: 68%;
    background-color: gray; opacity:;
}
#bunn {
    position: absolute; top: 85%; left: 0; width: 100%; height: 15%;
    background: url("ducati2.jpg");
    opacity: .9;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: arial;
}
ul li a{
    text-decoration-line: none;
    color: black;
   display: block;
    line-height: 50px;
    text-align: center;
    padding: 25%;
    font-size: 20px;
   
}
ul li a:hover {
    background-color: white;
    color: darkred
}
ul li a{
}
table {
    border: 1px solid black;
    border-collapse:collapse;
    font-family: arial;

}
th {
    padding: 10px;
    background-color: grey;
    padding-right: 100px;
}
td {
    padding: 23px;
    padding-right: 100px;
    background-color: white;
}
body {
    background: url("ducatilogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
video {
    
}
#hei {
    width: 600px;
    height: 300px;
    padding-left: 450px;
}
p {
    font-family: arial;
}
h2 {
    font-family: arial;
}

p a {
text-decoration-line: none;
color: black;
display: block;
padding-left: 20px;

}
p a:hover {
    color: darkred;
}
#skjema {
    padding: 10px;
    margin: 10px;
}
label {
    padding: 10px;
}
img {
 height: 50%;
 width: 50%;
}
p a b:hover {
 color: darkred;
 display: block;
 background-color: white;
 width: 100px;

}

